.matric {
    background-color: white;
    height:10rem;
    padding:5px;
    width: 32%;
    margin:0.45rem 0;
    
}
.block {
    display:flex;
    justify-content: space-between;
}
.card-body {
    background-color: #bfe0e5;
    padding:10px 0 0 0;
    
}

.chart-holder {
    height:20rem;
    margin:0.45rem 0;
    
}


h3 {
    font-size: 1.1875rem;
    margin-top: 1.125rem;
}
span {
    font-size: 1.8rem;
    font-weight: bold;
}
#service-uptime {
    color: #d9c930;
}
#update-frequency {
    color:#70a326
}

.fa-check {
    display: inline-block;
    padding:5px;
    color:#70a326;
    font-size:3rem
}
.fa-times {
    display: inline-block;
    padding:1.5rem;
    color:#d52b1e;
    font-size:3rem
}

.info-holder {
    position: relative;
    float: right;
    margin-right:0.5rem;
    margin-top:0.5rem
}
.fa-info-circle {
    font-size:1.25rem;
    color: #40a1b0
}

figure {
    margin-bottom: 0.3rem;
    
}
