.matric {
    background-color: white;
    margin:0.45rem 0;
    padding:5px;
    height:93%
}
h3 {
    font-size: 1.1875rem;
    margin-top: 1.125rem;
}
.chart-holder {
    width:98%;
    height:100%
}
.info-holder {
    /* width: 0.05rem; */
    position: relative;
    float: right;
    margin-right:0.5rem;
    margin-top:0.5rem
}
.fa-info-circle {
    font-size:1.25rem;
    color: #40a1b0
}
